/* content */
:root{
	--button-primary:#00A65A;
	--button-primary-dark:#008d4c;
	--light-white:#ffffff;
	--button-submit:#0096DE;
	--button-submit-dark:#007ABF;
	--border:#d2d6de;
	--khmer24-background: #007ABF;
	--khmer24-background-light: #0096DE;
	--khme24-font-color:#FFEAE7;
	--button-search:#FFB800;
	--button-addnew:#FF8900;
	--button-register:#0096DE;
	--button-loggin:#FF8900;
}
body{width: 768;}
*{
	margin: 0px;
	padding: 0px;
}
header{
	background: var(--khmer24-background);
	list-style: none;
	padding: 5px;
	width: auto;
	min-height: 50px;
}
header ul{
	margin-left: 200px;
	margin-top: 10px;
	padding: 0px;
	float: left;

}
header.brand{
	float:right;
	color:var(--khmer24-font-color);
}
header ul li{
	display: inline;
	color:var(--khme24-font-color);
	padding-left: 15px;
	width: 100%;
}
header .current{
	line-height: 18px;
}
header .current{
	/* background:var(--button-addnew); */
	color:var(--khme24-font-color);
	border-bottom:4px solid var(--button-addnew);
	/* padding: 0px; */
}

header ul li:hover{
	cursor: pointer;
}
/* nav */
nav{
	margin-left: 200px;
	margin-top: 5px;
	width: 25%;
	height: 40px;
	/* background:red; */
	display: block;
	border:1px solid var(--border);
}
nav ul{
	padding: 5px 15px;
	list-style: none;

}
nav ul li{
	text-decoration: none;
}
nav ul li a {
	padding-left: 10px;
}
nav .current{
	border-bottom:3px solid var(--button-addnew);
	padding: 0px;
	color: var(--borer);
	text-decoration: none;
}
#content{
	/* display: none; */
	margin-left: 200px;
	width: 768px;
	height: auto;
	display: block;
	margin-top: 10px;
}
#content p{
	margin: 0px;
	float: left;
}
#addnew{
	float: right;
	background: var(--button-addnew);
	color:var(--khme24-font-color);
	padding: 8px 15px;
	margin-bottom: 5px;
}
#addnew:hover{
		cursor: pointer;
		text-decoration: none;
}
#showcase{
	margin: 10px 200px;
}
#showcase .showcase-menu{
	padding: 40px;
}
#showcase .showcase-button{

	color: var(--khmer24-font-color);
}
#showcase .showcase-button p{
	background: var(--khmer24-background);

	padding: 8px 16px;
	color:var(--khme24-font-color);

}
#filter-section{
	/* display: none; */
	clear: both;
	margin: 10px 200px;

}
#filter-section .filter-form{
	/* float: left; */
}
